openai
torch
tiktoken
sqlalchemy
flask
unstructured
tqdm
langchain
pypdf
# git+https://github.com/chroma-core/chroma.git
chromadb
redis

requests
streamlit
simplejson
pypika
overrides
pydantic
asyncio
numpy
packaging
uvicorn
fastapi
starlette
posthog
g4f
pymysql
pandas